html,
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    font-size: 1rem;
    color: #303137;
    margin: 0;
}

.navbar {
    display: flex;
    padding: 10px;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
}

.brand,
nav-link {
    text-transform: uppercase;
    color: black;
}

.brand {
    font-size: 30px;
}

.hightech {
    color: blue;
}

.topnav {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.topnav .nav-link {
    text-decoration: none;
    padding-left: 20px;
    font-size: 20px;
}

.dropdownLink {
    display: none;
}

@media (max-width: 768px) {
    ul.topnav li a.nav-link {
        display: none;
    }

    ul.topnav li.dropdownLink {
        display: block;
        position: absolute;
        top: 15%;
        right: 20%;
    }

    ul.topnav.responsive li a {
        display: block;
    }

}

/* End of the media query */
